.first-title{
  margin-top: 30px;
}



.w3-card-4{
  width: 200px;
  margin-right: 15px;
  margin:10px 10px;
}

.w3-card-4 img{
  width: 100%;
}

.row{
  margin:0 30px;
}

.rating{
  width: 15px ! important;
  height: 15px ! important;
}

.skill, .location{
  font-size: 11px;
}


.w3-card-4 p{
  margin-bottom: 2px ! important;
}
