*{
  text-decoration: none;
  list-style: none;
  font-family: Lato, arial;
  font-size: 16px;
  color:black ! important;
}

.navbar li{
  margin-right: 10px;
}

.login, .sign-up{
  border-radius: 4px;
  border: solid 1px navy;
  border-radius: 2px ! important;
  padding: 5px 10px;

}

.whatsapp_number{
  height: 25px ! important;
  width: 25px ! important;


}

@media only screen and (max-width:750px){

  .form-inline li{
    display: block;
  }
}
