.display-4{
  font-size: 38px ! important;
  color:#03B5AA ! important;
  font-weight: bold;
}

.form-inline{
  width: 100% ! important;
}

.lead{
  color:black ! important;
  font-weight: bold;
  background-color: #FFFFFF;
  padding: 5px;
  width: auto;
  opacity: 0.6;
}

.search-div-home{
  width: 40%;
  margin: 0 15%;


  text-align: center ! important;
}
.jumbotron{
  background-image: url(../Images/yota_banner2.jpg);
  background-position: center;
  background-size: cover;
  width: 100% ! important;
}

#search-input-box{
  width:50%;
  opacity: 0.8;
  background-color: #FFFFFF ! important;
  border-radius: 2px ! important;

}

.jumbotron .btn{
  background: #03B5AA;
  border: 1px solid #03B5AA;
  border-radius: 2px ! important;
  padding:6px 30px;
}


.column_big{
  border-right:1px solid gray;
  width: 70%;
}

.column_small{
  width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (max-width: 750px){
  .column_big, .column_small{
    width: 90%;
  }

  .column_big{
    border: 0px;
  }

}
